<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073652720357-lmgba3qmg5ntu1l1h0pmusjjquj4rvd7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073652720357-lmgba3qmg5ntu1l1h0pmusjjquj4rvd7</string>
	<key>API_KEY</key>
	<string>AIzaSyCf2_T8WhdHx4bpkfoNxRshRU4aKCVHBTc</string>
	<key>GCM_SENDER_ID</key>
	<string>1073652720357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devicetracker</string>
	<key>PROJECT_ID</key>
	<string>device-tracker-906d1</string>
	<key>STORAGE_BUCKET</key>
	<string>device-tracker-906d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073652720357:ios:6f120769682873c38d2a0c</string>
</dict>
</plist>